<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.passport.demo</id>
    <name><![CDATA[Custom Authentication Demo]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2020-02-28</jartime>
    <vendor>finereport-joe</vendor>
    <description><![CDATA[Demo for custom authentication]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <main-package>com.fr.plugin.passport.demo</main-package>
    <extra-decision>
        <PassportProvider class="com.fr.plugin.passport.demo.DemoPassportProvider"/>
        <WebResourceProvider class="com.fr.plugin.passport.demo.DemoJSBridge"/>
    </extra-decision>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.passport.demo.DemoLocaleFinder"/>
    </extra-core>
    <function-recorder class="com.fr.plugin.passport.demo.DemoPassport"/>
</plugin>