<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.project</id>
    <name><![CDATA[A Real-world Project]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2020-02-28</jartime>
    <vendor>finereport-joe</vendor>
    <description><![CDATA[A Real-world Project]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <main-package>com.fr.plugin.project</main-package>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.project.MyLocaleFinder"/>
    </extra-core>
    <extra-decision>
        <WebResourceProvider class="com.fr.plugin.project.HeaderJSCSSBridge"/>
        <WebResourceProvider class="com.fr.plugin.project.IPConfigJSCSSBridge"/>
        <URLAliasProvider class="com.fr.plugin.project.URLAliasBridge"/>
        <HttpHandlerProvider  class="com.fr.plugin.project.HttpHandlerBridge"/>
        <GlobalRequestFilterProvider class="com.fr.plugin.project.MyLoginFilter"/>
    </extra-decision>
    <function-recorder class="com.fr.plugin.project.MyLocaleFinder"/>
</plugin>