<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.config.demo</id>
    <name><![CDATA[Config Demo]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2018-07-31</jartime>
    <vendor>finereport-joe</vendor>
    <description><![CDATA[Demo for custom configuration]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <main-package>com.fr.plugin.configfile</main-package>
    <extra-decision>
        <HttpHandlerProvider class="com.fr.plugin.configfile.DemoHttpHandlerProvider"/>
    </extra-decision>
    <function-recorder class="com.fr.plugin.configfile.DemoHandler"/>
</plugin>