<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.chart.demo</id>
    <name><![CDATA[Chart Demo]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2018-07-31</jartime>
    <vendor>finereport-joe</vendor>
    <description><![CDATA[Demo for charts]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <main-package>com.fr.plugin.chart.demo</main-package>
    <extra-chart>
        <IndependentChartProvider class="com.fr.plugin.chart.demo.Demo" plotID="DEMO_CHART"/>
    </extra-chart>

    <extra-chart-designer>
        <IndependentChartUIProvider class="com.fr.plugin.chart.demo.DemoUI" plotID="DEMO_CHART"/>
    </extra-chart-designer>
    <function-recorder class="com.fr.plugin.chart.demo.fun.DemoChart"/>
</plugin>